[user]
    signingkey = 0x342CCF7EF78B7A2C
    email = daniel@dvdgiessen.nl
    name = Daniël van de Giessen

[commit]
    gpgsign = true

[merge]
    autoStash = true

[pull]
    rebase = true

[rebase]
    autoStash = true

[rerere]
    enabled = true
